body {
  font-family: sans-serif;
  color: white;
}

.section {
  background: #6495ED;
}

.wrapper {
  display: grid;

  /* Three fixed width columns */
  grid-template-columns: 200px 200px 200px;
  /* The available space is split into four and split between the columns */
  grid-template-columns: 2fr 1fr 1fr;
  /* First column has a fixed width - the rest is divided into three */
  grid-template-columns: 500px 1fr 2fr;
  /* The repeat() notation allows simplificiation of columns definitions */
  /* 3 columns */
  grid-template-columns: repeat(3, 1fr);
  /* 8 columns */
  grid-template-columns: 20px repeat(6, 1fr) 20px;
  /* 10 columns */
  grid-template-columns: repeat(5, 1fr 2fr);

  grid-template-columns: 2fr 1fr 1fr;

  /* Explicity size rows - otherwise the grid is implicitily sized */
  grid-auto-rows: 200px;
  /* Minmax ensures a row is never smaller than a minimum but will expand with content*/
  grid-auto-rows: minmax(200px, auto);

  /* Gutters */
  /*grid-gap: 10px;*/

  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

/* grid-*-start/end */

/*.one {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.two {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}*/

/* Can be written as */

.one {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.two {
  grid-column: 1;
  grid-row: 3 / 5;
}
